<footer style="
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  background: #ffffff; 
  border-top: 2px solid #ddd;
  text-align: center;
">

  <!-- Logo -->
  <div style="display: flex; align-items: center; flex: 1; justify-content: center;">
    <img src="images/logo.jpg" alt="Logo" style="height: 50px; max-width: 100%; margin-right: 15px;">
  </div>

  <!-- Enlace al departamento -->
  <a href="https://www.instagram.com/imagenpersonaleltablero/" target="_blank" 
     style="text-decoration: none; color: #333; font-weight: 100; flex: 1; text-align: center;">
    Departamento de Imagen Personal
  </a>

  <!-- Desarrollador -->
  <a href="https://www.linkedin.com/in/carlosserranosanchez/" target="_blank" 
     style="text-decoration: none; color: #7c7c7c; font-weight: 50;font-size: small; flex: 1; text-align: center;">
    Developdo&#64;2025
  </a>
</footer>